---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Timeline from "../components/Timeline.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Timeline />
    <Contact />
  </main>
</Layout>
